<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>Cục Quản Lý Xuất - Nhập Cảnh</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Assets/Client/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Assets/Client/images/apple-touch-icon.png">

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="~/Assets/Client/css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="~/Assets/Client/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Assets/Client/style.css" rel="stylesheet">
  
    <!-- Responsive styles for this template -->
    <link href="~/Assets/Client/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="~/Assets/Client/css/colors.css" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="~/Assets/Client/css/version/tech.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>
<body>

    <div id="wrapper">


       <div>
           @RenderSection("header",required:false)
       </div>
       
        @RenderBody()
        <div>
            @RenderSection("Footer", required: false)
        </div>




    </div><!-- end wrapper -->
    <!-- Core JavaScript
    ================================================== -->
    <script src="~/Assets/Client/js/jquery.min.js"></script>
    <script src="~/Assets/Client/js/tether.min.js"></script>
    <script src="~/Assets/Client/js/bootstrap.min.js"></script>
    <script src="~/Assets/Client/js/custom.js"></script>

</body>
</html>